# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Basics.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\githubs\UnityProjects\catlike\Basics\.idea\.idea.Basics\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
