# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.1_1_Clock.iml
# Datasource local storage ignored files
/../../../../../../../:\UnityProjects\catlike\1_1_Clock\.idea\.idea.1_1_Clock\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
