# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.MoocDailyPractice.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\githubs\UnityProjects\Mooc\MoocDailyPractice\.idea\.idea.MoocDailyPractice\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
